*{
    margin: 0;
    padding: 0;
    box-sizing: box;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    width:100%;
}

.header{
    height: 600px;
    width: inherit;
    position: relative;
}

.bg-image, .overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.bg-image{
    background: url("../img/background-image.jpeg") center;
    background-size: cover;
    z-index: 1;
}

.overlay{
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.header-content{
    position: relative;
    z-index: 3;
    color: white;
    margin: auto;
    justify-content: center;
    text-align: center;
    line-height: 50px;
    top: 47%;
    width: 33%;
    letter-spacing: 2px;
    font-size: 1em;
}

@media(max-width: 850px){
    .header-content{
        font-size: 0.5em;
        top: 35%;
        width: 60%;
    }

    .bg-image{
        background-size: fill;
    }

    .header{
        height: 250px;
    }
}